
@media(max-width:767px) {
	.welcome_wrap, .progress_deal_wrap, .services_wrap {
		padding: 20px 0;
	}
	.welcome_wrap h1 {
		margin-bottom: 15px;
	}
	.intro{
		padding: 30px;
	}
	.intro div div p {
		padding: 20px 0;
	}
	.intro div .scree_demo{
		margin-top: 20px;
	}
	.navbar_logo{
	display: block;
	}
	.wrap-btn{
	margin-left: 25px;
	}
	.services_wrap{
	min-height: 300px;
	padding: 90px 0;
	background: #888;
	}
	.contact_wrap{
	min-height: 300px;
	background: #eaeaea;
	background-size: 100%;
}
.contact_wrap .contact_inner{
	background: #eaeaea;
	background-position: center;
	background-repeat: no-repeat;
	height: 564px;
}
.contact_form_wrap{
	margin-top: 20px;
	margin-left: 70px;
}
.contact_form{
	margin-left: -77px;
}
.btn-circle.btn-xl {
  display: block;
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
  margin:0px auto;
}
.footer{
	padding: 10px 0px;
	background: #0eb1e6;
	color: #fff;
}
}
@media(min-width:768px) {
	.wrap-btn{
	margin-left: 220px;
	}
}
@media(min-width:992px) {
	.wrap-btn{
	margin-left: 430px;
	}
}
@media(min-width:1200px) {
}