.top-bar{
	min-height: 165px;
	padding-left: 15px;
	padding-top: 30px;
}
.top-bar-logo{
	display: block;
	margin: 0px auto;
}
.navbar-default{
	background: rgba(51,204,255,0.8);
	border: none;
	/*min-height: 130px;*/
	min-height: 50px;
}
.navbar-collapse{
	text-align: center !important;
}
.navbar-center{
	display: inline-block;
	margin: 0px auto !important;
	float:none !important;
}
.navbar-center li a{
	color: #fff !important;
}
.main-nav-scrolled {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}
.slider{
	padding: 0px;
	margin-top: -20px;
	border-bottom: 6px solid #38bde8; 
}
.slider img{
	width: 100%;
}
.welcome_wrap{
	padding: 90px 0;
}
.welcome_wrap h1{
	margin-bottom: 40px;
}
.intro{
	padding: 90px 0;
	background: #f5f4f5;
}
.intro div div p{
	padding: 50px 0;
	line-height:3em;
}
.intro div div a{
	text-decoration: none;
	cursor: pointer;
}
.cg-btn-lg{
	background: transparent;
	border: 1px solid #eaeaea;
	color: #888;
	padding: 12px;
}
.cg-btn-lg:hover{
	background: transparent;
	border: 1px solid #000;
	color: #000;
	padding: 12px;
}
.intro div .scree_demo img{
	display: block;
	margin:0px auto;
}
.progress_deal_wrap{
	padding: 90px 0;
}
.progress_deal{
	display: block;
	margin: 0px auto;
}
.navbar_logo{
	display: none;
}
.tbl_add{
	display: block;
}
.services_wrap{
	min-height: 300px;
	padding: 90px 0;
	background: url(../images/road_.jpg) no-repeat center center ;
	background-repeat: no-repeat;
	background-size: 100%;
}

.wrap-btn{
	margin-left: 400px;
	margin-top: 20px;
}
.track-btn{
	background: #ea87d4;
	border: 1px solid #ea87d4;
	margin-top: 20px;
}
.track-btn:hover{
	background: #c774b4;
	border: 1px solid #c774b4;

	
}
.contact_wrap{
	min-height: 300px;
	padding: 90px 0;
	background: url(../images/contact_map.png) no-repeat center center ;
	background-repeat: no-repeat;
	background-size: 100%;
}
.contact_wrap .contact_inner{
	background: url(../images/map_overlay.png);
	background-position: center;
	background-repeat: no-repeat;
	height: 564px;
	padding: 40px;
}
.contact_form_wrap{
	margin-top: 20px;
	margin-left: 70px;
}
.btn-circle.btn-xl {
  display: block;
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
  margin:0px auto;
}
.footer{
	padding: 10px 0px;
	background: #0eb1e6;
	color: #fff;
}
